# I/O-Kanalbelegung Keller-RevPi (Beispiel)
#
# Die echten PiCtory-Namen muessen nach dem Keller-PiCtory-Export angepasst werden.
# Diese Datei ist eine Planungs-/Startvorlage fuer die zweite Steuerung.

revpi:
  hardware: "RevPi Connect 4 WLAN 32/4GB"
  hostname: "RevPi107293"
  layout:
    - { addr: 31, side: left,  slot: 1, type: DIO, hwversion: "1.5", name: K-DIO1 }
    - { addr: 0,  side: base,  slot: 0, type: CPU, hwversion: "1.0", name: K-CPU1 }
    - { addr: 32, side: right, slot: 1, type: AIO, hwversion: "1.4", name: K-AIO1 }
    - { addr: 33, side: right, slot: 2, type: AIO, hwversion: "1.4", name: K-AIO2 }
    - { addr: 34, side: right, slot: 3, type: AIO, hwversion: "1.4", name: K-AIO3 }

do:
  K-DO01: { module: K-DIO1, channel: O_1, pictory_name: "Output_0", komponente: "pumpe_fbh_eg", beschreibung: "Pumpe FBH EG", phase: B, hand_timeout_min: 240 }
  K-DO02: { module: K-DIO1, channel: O_2, pictory_name: "Output_0", komponente: "pumpe_klima_og", beschreibung: "Pumpe Klima OG", phase: B, hand_timeout_min: 240 }
  K-DO03: { module: K-DIO1, channel: O_3, pictory_name: "Output_0", komponente: "pumpe_hk_backup", beschreibung: "Pumpe Heizkoerper-Backup OG", phase: B, hand_timeout_min: 240 }
  K-DO04: { module: K-DIO1, channel: O_4, pictory_name: "Output_0", komponente: "brunnen_pumpe_freigabe", beschreibung: "FU Brunnenpumpe Run/Freigabe", phase: C, hand_timeout_min: 60 }

di: {}

rtd:
  K-RTD01: { module: K-AIO1, channel: RTD_1, pictory_name: "RTDValue_465_1", komponente: "fbh_eg_vl", sensor: PT1000, einheit: "C", phase: B }
  K-RTD02: { module: K-AIO1, channel: RTD_2, pictory_name: "RTDValue_465_2", komponente: "fbh_eg_rl", sensor: PT1000, einheit: "C", phase: B }
  K-RTD03: { module: K-AIO2, channel: RTD_1, pictory_name: "RTDValue_554_1", komponente: "klima_og_vl", sensor: PT1000, einheit: "C", phase: B }
  K-RTD04: { module: K-AIO2, channel: RTD_2, pictory_name: "RTDValue_554_2", komponente: "klima_og_rl", sensor: PT1000, einheit: "C", phase: B }
  K-RTD05: { module: K-AIO3, channel: RTD_1, pictory_name: "RTDValue_643_1", komponente: "hk_backup_vl", sensor: PT1000, einheit: "C", phase: B }
  K-RTD06: { module: K-AIO3, channel: RTD_2, pictory_name: "RTDValue_643_2", komponente: "hk_backup_rl", sensor: PT1000, einheit: "C", phase: B }

ai:
  K-AI01: { module: K-AIO1, channel: AI_1, pictory_name: "InputValue_465_1", komponente: "brunnen_druck", sensor: "4-20mA Drucksensor 0-10bar", einheit: "bar", signal: "4-20mA", phase: C }

ao:
  K-AO01: { module: K-AIO1, channel: AO_1, pictory_name: "OutputValue_465_1", komponente: "brunnen_fu_soll", beschreibung: "FU Brunnenpumpe Drehzahlsollwert", bereich: [0, 100], einheit: "%", signal: "4-20mA", phase: C }
  K-AO02: { module: K-AIO1, channel: AO_2, pictory_name: "OutputValue_465_2", komponente: "mischer_fbh_eg_pct", bereich: [0, 100], einheit: "%", signal: "0-10V", phase: B }
  K-AO03: { module: K-AIO2, channel: AO_1, pictory_name: "OutputValue_554_1", komponente: "mischer_klima_og_pct", bereich: [0, 100], einheit: "%", signal: "0-10V", phase: B }
  K-AO04: { module: K-AIO2, channel: AO_2, pictory_name: "OutputValue_554_2", komponente: "mischer_hk_backup_pct", bereich: [0, 100], einheit: "%", signal: "0-10V", phase: B }
